.welcome-root {
    -fx-alignment: center;
    -fx-padding: 10;
}

.label {
    -fx-font-size: 50px;
    -fx-font-family: "Microsoft YaHei";
    -fx-text-fill: #333333;
}

.author-text {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: #ce1230;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-font-size: 40px;
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #9a0d24;
}